.trailer-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: .5rem;
    cursor: pointer;

    &__video {
        border-radius: 0 1rem;
    }

    &__title {
        color: var(--text-color-light);
    }
}