
.media-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    &__items {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 1rem;
        margin-bottom: 1.8rem;
    }

    &__button {
        display: flex;
        justify-content: center;
    }
}