.button {
    padding: .5rem .8rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: .3rem;

    &--center {
        text-align: center;
    }

    &__icon {
        font-size: var(--font-size-2);
    }
}