.button {
    padding: .5rem .8rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 0 .8rem;

    &:hover {
        box-shadow: 0 0 8px 3px var(--shadow-primary-color);
    }

    &--center {
        text-align: center;
    }

    &--danger {
        background-color: rgb(229, 12, 12);
        color: var(--text-color-light);

        &:hover {
            box-shadow: 0 0 8px 3px rgb(243, 34, 34);
        }
    }

    &__icon {
        font-size: var(--font-size-2);
    }
}