.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
}

.nav {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;

    &-logo {
        text-transform: uppercase;
        font-weight: var(--font-weight-semibold);
        color: white;
    }

    &_search {

    }

    &__menu {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(53, 53, 53, 0.903);
        color: rgb(239, 239, 239);
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        color:rgb(239, 239, 239);

        &-icon {
            font-size: var(--font-size-2);
        }

        &-text {

        }
    }
}