.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    padding: 1rem 0;

    &-logo {

    }

    &_search {

    }

    &__menu {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(53, 53, 53, 0.903);
        color: rgb(239, 239, 239);
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        color:rgb(239, 239, 239);

        &-icon {
            font-size: var(--font-size-1);
        }

        &-text {

        }
    }
}