.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    background-color: var(--background-primary-color);
}

.nav {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;

    &-logo {
        display: flex;
        align-items: center;
        column-gap: .5rem;
        text-transform: uppercase;
        color: var(--text-color-light);
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-semibold);

        &__icon {
            font-size: var(--font-size-2);
            font-weight: var(--font-weight-bold);
            color: var(--primary-color);
        }

        &__link {
            color: var(--text-color-light);

            &--primary {
                color: var(--primary-color);
            }
        }
    }

    &_search {
        width: 300px;
    }

    &__menu {
        position: fixed;
        left: 0;
        bottom: 0;
        top: auto;
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding: 1.1rem 0;
        background-color: var(--background-primary-color);
        color: rgb(239, 239, 239);

        @media screen and (min-width: 992px) {
            top: 0;
            bottom: auto;
            height: 100vh;
            width: auto;
            justify-content: center;
            align-items: center;
            padding: 0 1.1rem;
        }
    }

    &__list {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 2rem;

        &-item {
            color: rgb(211, 211, 211);

            &--active .nav__link, &:hover .nav__link {
                font-weight: var(--font-weight-semibold);
                color: var(--text-color-light);
                text-shadow: 0 0 15px var(--text-color-light);
            }
        }

        @media screen and (min-width: 992px) {
            flex-direction: column;
            row-gap: 2rem;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        color:rgb(203, 203, 203);

        &-icon {
            font-size: var(--font-size-2);
            font-weight: var(--font-weight-normal);
            margin-bottom: .1rem;
        }

        &-text {
            font-size: var(--font-size-6);
        }
    }
}