.footer {
    padding: 2rem 0 1rem;

    &__content {
        font-size: var(--font-size-6);
        color: var(--text-color-normal);

        &--center {
            text-align: center;
        }
    }
}